In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [5]:
column_name = { 'date':'date', 'Appliances': 'Appliances', 'lights':'lights', 'T1':'Temperature in kitchen area', 'RH_1': 'Humidity in kitchen area', 
               'T2': 'Temperature in living room area', 'RH_2': 'Humidity in living room area',
              'T3': 'Temperature in laundry room area', 'RH_3': 'Humidity in laundry room area',
              'T4': 'Temperature in office room', 'RH_4': 'Humidity in office room', 'T5': 'Temperature in bathroom',
              'RH_5': 'Humidity in bathroom', 'T6': 'Temperature outside the building', 
              'RH_6': 'Humidity outside the building', 'T7': 'Temperature in ironing room', 
              'RH_7': 'Humidity in ironing room', 'T8': 'Temperature in teenager room 2', 
               'RH_8': 'Humidity in teenager room 2', 'T9': 'Temperature in parents room', 'RH_9': 'Humidity in parents room',
              'To': 'Temperature outside', 'Press_mm_hg':'Pressure',
              'RH_out': 'Humidity outside', 'Windspeed': 'Wind speed',
              'Visibility':'Visibility', 'Tdewpoint': 'Tdewpoint', 'rv1': 'Random variable 1', 'rv2': 'Random variable 2'}
df1= df.rename(columns=column_name)
df1

,date,Appliances,lights,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,...,Temperature in parents room,Humidity in parents room,T_out,Pressure,Humidity outside,Wind speed,Visibility,Tdewpoint,Random variable 1,Random variable 2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [6]:
df1.head()

,date,Appliances,lights,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,...,Temperature in parents room,Humidity in parents room,T_out,Pressure,Humidity outside,Wind speed,Visibility,Tdewpoint,Random variable 1,Random variable 2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [11]:
#normalising dataset using minmaxscaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df2=df1.drop(columns=['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(df2), columns=df2.columns)

In [13]:
#dropping some columns and creating feature X and Y 
#column_todrop=['date', 'lights', 'Appliances']
x=normalised_df.drop(columns=['Appliances'])
y=normalised_df['Appliances']

In [9]:
x.shape

(19735, 26)

In [10]:
y.shape

(19735,)

In [15]:
# spliting dataset into training and testing set in ratio 70:30
# importing sklearn library
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, mean_squared_error 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x_train, x_test, y_train, y_test

(       Temperature in kitchen area  Humidity in kitchen area  \
 9129                      0.497360                  0.236767
 2453                      0.286167                  0.482616
 9152                      0.422386                  0.230529
 12694                     0.560718                  0.446840
 16952                     0.835269                  0.422071
 ...                            ...                       ...
 11284                     0.524815                  0.381892
 11964                     0.591341                  0.458949
 5390                      0.369588                  0.238785
 860                       0.527983                  0.234933
 15795                     0.478705                  0.294652

        Temperature in living room area  Humidity in living room area  \
 9129                          0.122850                      0.565939
 2453                          0.188999                      0.669978
 9152                          0.057427                      0.606430
 12694                         0.280834                      0.704002
 16952                         1.000000                      0.318493
 ...                                ...                           ...
 11284                         0.239157                      0.636236
 11964                         0.428883                      0.607461
 5390                          0.152653                      0.481582
 860                           0.315047                      0.412016
 15795                         0.275503                      0.509045

        Temperature in laundry room area  Humidity in laundry room area  \
 9129                           0.373878                       0.303474
 2453                           0.217957                       0.735317
 9152                           0.373878                       0.338059
 12694                          0.514290                       0.515189
 16952                          0.745383                       0.459106
 ...                                 ...                            ...
 11284                          0.481888                       0.478268
 11964                          0.456962                       0.582489
 5390                           0.240944                       0.412370
 860                            0.332336                       0.380122
 15795                          0.456962                       0.365633

        Temperature in office room  Humidity in office room  \
 9129                     0.476577                 0.264760
 2453                     0.270270                 0.691421
 9152                     0.414414                 0.236449
 12694                    0.540541                 0.486556
 16952                    0.900901                 0.516432
 ...                           ...                      ...
 11284                    0.576577                 0.517712
 11964                    0.557658                 0.702518
 5390                     0.279279                 0.325651
 860                      0.540541                 0.341585
 15795                    0.414414                 0.502490

        Temperature in bathroom  Humidity in bathroom  ...  \
 9129                  0.408027              0.159533  ...
 2453                  0.178691              0.333576  ...
 9152                  0.378404              0.151639  ...
 12694                 0.509317              0.424604  ...
 16952                 0.748845              0.455819  ...
 ...                        ...                   ...  ...
 11284                 0.455805              0.250877  ...
 11964                 0.417582              0.285310  ...
 5390                  0.302914              0.161743  ...
 860                   0.259914              0.245539  ...
 15795                 0.369804              0.192086  ...

        Temperature in parents room  Humidity in parents room     T_out  \
 9129                      0.475893                  0.376380  0.168810
 2453                      0.240375                  0.703504  0.262594
 9152                      0.468262                  0.409803  0.110397
 12694                     0.561915                  0.340784  0.444802
 16952                     0.854318                  0.633278  0.849946
 ...                            ...                       ...       ...
 11284                     0.568852                  0.471578  0.468382
 11964                     0.561915                  0.625966  0.717042
 5390                      0.312175                  0.426325  0.126474
 860                       0.375650                  0.509106  0.227224
 15795                     0.468262                  0.500828  0.374598

        Pressure  Humidity outside  Wind speed  Visibility  Tdewpoint  \
 9129   0.862791          0.776316    0.142857    0.984615   0.192308
 2453   0.836434          0.807018    0.142857    0.600000   0.342383
 9152   0.853488          0.859649    0.095238    0.917949   0.158371
 12694  0.559690          0.750000    0.119048    0.384615   0.558069
 16952  0.530233          0.355263    0.142857    0.600000   0.787330
 ...         ...               ...         ...         ...        ...
 11284  0.492248          0.706140    0.476190    0.600000   0.562594
 11964  0.469767          0.552632    0.142857    0.600000   0.791855
 5390   0.595349          0.828947    0.261905    0.948718   0.165913
 860    0.831008          0.530702    0.095238    0.600000   0.114630
 15795  0.682558          0.809211    0.071429    0.600000   0.495475

        Random variable 1  Random variable 2
 9129            0.724554           0.724554
 2453            0.864041           0.864041
 9152            0.499502           0.499502
 12694           0.323173           0.323173
 16952           0.341060           0.341060
 ...                  ...                ...
 11284           0.910318           0.910318
 11964           0.698711           0.698711
 5390            0.381388           0.381388
 860             0.020909           0.020909
 15795           0.349076           0.349076

 [13814 rows x 26 columns],
        Temperature in kitchen area  Humidity in kitchen area  \
 8980                      0.432946                  0.230529
 2754                      0.538543                  0.717641
 9132                      0.485744                  0.233281
 14359                     0.485744                  0.385561
 8875                      0.335093                  0.223007
 ...                            ...                       ...
 831                       0.560718                  0.300248
 10993                     0.518479                  0.310063
 11761                     0.436818                  0.340611
 12364                     0.550158                  0.390973
 11863                     0.432946                  0.420145

        Temperature in living room area  Humidity in living room area  \
 8980                          0.120669                      0.525822
 2754                          0.377272                      0.700066
 9132                          0.111461                      0.564252
 14359                         0.566271                      0.404255
 8875                          0.026411                      0.552910
 ...                                ...                           ...
 831                           0.370487                      0.412504
 10993                         0.225345                      0.593214
 11761                         0.188999                      0.633705
 12364                         0.334383                      0.602774
 11863                         0.213230                      0.688912

        Temperature in laundry room area  Humidity in laundry room area  \
 8980                           0.256730                       0.380122
 2754                           0.368339                       0.956224
 9132                           0.371109                       0.300670
 14359                          0.401573                       0.381679
 8875                           0.232635                       0.356753
 ...                                 ...                            ...
 831                            0.386895                       0.576414
 10993                          0.481888                       0.446799
 11761                          0.381356                       0.403490
 12364                          0.481888                       0.468453
 11863                          0.365570                       0.482474

        Temperature in office room  Humidity in office room  \
 8980                     0.419820                 0.279129
 2754                     0.489489                 0.567933
 9132                     0.467568                 0.260350
 14359                    0.656757                 0.323346
 8875                     0.374775                 0.311851
 ...                           ...                      ...
 831                      0.608709                 0.488263
 10993                    0.464865                 0.495092
 11761                    0.422523                 0.453692
 12364                    0.576577                 0.554702
 11863                    0.414414                 0.589273

        Temperature in bathroom  Humidity in bathroom  ...  \
 8980                  0.312470              0.322900  ...
 2754                  0.224346              0.426866  ...
 9132                  0.408027              0.157503  ...
 14359                 0.411212              0.202260  ...
 8875                  0.244625              0.288467  ...
 ...                        ...                   ...  ...
 831                   0.264692              0.304506  ...
 10993                 0.446249              0.264410  ...
 11761                 0.378404              0.230779  ...
 12364                 0.503583              0.237746  ...
 11863                 0.378404              0.243810  ...

        Temperature in parents room  Humidity in parents room     T_out  \
 8980                      0.457856                  0.408251  0.217578
 2754                      0.145682                  0.622241  0.247588
 9132                      0.468262                  0.377621  0.167203
 14359                     0.561915                  0.388797  0.445338
 8875                      0.427680                  0.477373  0.145766
 ...                            ...                       ...       ...
 831                       0.312175                  0.507726  0.220257
 10993                     0.561915                  0.528422  0.439443
 11761                     0.490114                  0.356926  0.392283
 12364                     0.620881                  0.417770  0.494105
 11863                     0.479709                  0.507726  0.583065

        Pressure  Humidity outside  Wind speed  Visibility  Tdewpoint  \
 8980   0.920930          0.846491    0.166667    0.953846   0.298643
 2754   0.588372          0.868421    0.214286    0.400000   0.352941
 9132   0.858140          0.776316    0.142857    0.984615   0.190045
 14359  0.895349          0.616228    0.369048    0.600000   0.466817
 8875   0.938372          0.912281    0.285714    0.735897   0.233032
 ...         ...               ...         ...         ...        ...
 831    0.841860          0.756579    0.107143    0.430769   0.251131
 10993  0.422093          0.651316    0.583333    0.600000   0.486425
 11761  0.665504          0.796053    0.083333    0.969231   0.515083
 12364  0.545736          0.596491    0.642857    0.600000   0.520362
 11863  0.530620          0.734649    0.500000    0.505128   0.740573

        Random variable 1  Random variable 2
 8980            0.512428           0.512428
 2754            0.469466           0.469466
 9132            0.002761           0.002761
 14359           0.205799           0.205799
 8875            0.215015           0.215015
 ...                  ...                ...
 831             0.910115           0.910115
 10993           0.975531           0.975531
 11761           0.792703           0.792703
 12364           0.608307           0.608307
 11863           0.198911           0.198911

 [5921 rows x 26 columns],
 9129     0.037383
 2453     0.018692
 9152     0.028037
 12694    0.102804
 16952    0.037383
            ...
 11284    0.046729
 11964    0.102804
 5390     0.018692
 860      0.065421
 15795    0.112150
 Name: Appliances, Length: 13814, dtype: float64,
 8980     0.028037
 2754     0.074766
 9132     0.037383
 14359    0.037383
 8875     0.056075
            ...
 831      0.224299
 10993    0.046729
 11761    0.037383
 12364    0.093458
 11863    0.037383
 Name: Appliances, Length: 5921, dtype: float64)

In [16]:
# fit the model
model1=linear_model.LinearRegression()
model1.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
predicted_values = model1.predict(x_test)
#obtaining prediction

In [18]:
mea= mean_absolute_error(y_test, predicted_values)
round(mea,3)

0.05

In [ ]:
rmse np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse,3)

In [ ]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

linear_model.fit(x_train, y_train)

predicted_values = linear_model.predict(x_test)

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predicted_values)

round(mae, 3)" that is what I used and it worked for me